.Cal {
    display: flex;
}

.Calcontent {
    width: var(--calcontent-width);
    height: var(--calcontent-height);
}

.Calrow {
    display: flex;
    flex-grow: 1;
}

.Item-boxmould {
    display: flex;
    // outline: 2px solid green;
}